/*#modal2{
    width: 2000px;
    height: 2000px;
}


.products #modalP{
    width: 500vw;
    height: 500vh;
}*/

.modals{
    height:80vh;
    width: 80vw;
}

.modalsM{
    height: 80vh;
    width: 80vw;
    
}

.modalprod{
    height: 80vh;
    width: 80vw;
}

